<div class="row">
	<div class="col s12">
		<h2>¿Quién le refirió?</h2>
		<p>Díganos el @username o email de quien le habló de Apretaste y ambos ganarán §<%= profit_by_child %>.</p>

		<!-- input -->
		<div id="input" class="input-field">
			<input id="username" type="text">
			<label for="username">Insertar @username o email</label>
		</div>

		<!-- checkbox -->
		<p>
			<label>
				<input id="check" type="checkbox" onclick="toggle()" />
				<span>Nadie me refirió</span>
			</label>
		</p>
	</div>
</div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="send()"><i class="material-icons">send</i></a>
</div>