<div class="row">
	<div class="col s12 center">
		<h1><%=header%></h1>
		<i class="material-icons large"><%=icon%></i>
		<p><%=text%></p>
	</div>
</div>

<div class="fixed-action-btn">
	<a onclick="apretaste.send({'command':'REFERIR'})" class="btn-floating btn-large"><i class="material-icons">arrow_back</i></a>
</div>