<div class="row">
	<div class="col s12 center">
		<h1>No pudimos referirle</h1>
		<i class="material-icons large">sentiment_very_dissatisfied</i>
		<p>La persona a referir no existe en Apretaste o está intentando hacer una referencia inválida. Por favor compruebe que <b><%= username %></b> es un @username o email correcto e intente nuevamente</p>
	</div>
</div>