<div class = "row">
    <div class = "col s12 m12 xl12">
        <h1>No pudimos crear la referencia</h1>
        <p>La persona a referir no existe en Apretaste o esta intentando hacer una referencia invalida.
            Por favor compruebe que <b><%= request.query %></b> es un @username o email correcto e intente nuevamente
        </p>
    </div>
</div>